<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Google Tag Manager -->
    <script nonce="{{ nonce }}">
        (
            function(w,d,s,l,i){
                w[l]=w[l]||[];
                w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
                var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
                j.async=true;
                j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
                f.parentNode.insertBefore(j,f);
            }
        )
        (window,document,'script','dataLayer','GTM-WGZDVQJN');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <script nonce="{{ nonce }}" async src="https://www.googletagmanager.com/gtag/js?id=G-XMG8KFD0CB"></script>
    <script nonce="{{ nonce }}">
        window.dataLayer = window.dataLayer || [];
        
        function gtag(){
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-XMG8KFD0CB');
        gtag('consent', 'default');
        
</script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript nonce="{{ nonce }}"><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGZDVQJN"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="area">
        {% block content %}
        {% endblock %}
    </div>
    
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script nonce="{{ nonce }}" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script nonce="{{ nonce }}" src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
