{% extends "base.html" %}
{% block title %}Aventura Segura - Fim de jogo!{% endblock %}

{% block content %}
<div class="div-dentro">
    <h1>Fim de Jogo</h1>
    <p>Sua pontuação final é: {{ score }}</p>
    <a href="{{ url_for('index') }}" class="btn btn-primary" id="botaoFim">Jogar novamente</a>
</div>

<script nonce="{{ nonce }}">
    
    function botao_fim() {
        gtag(
            'event', 'botao_fim', {
            'nome_app': 'Aventura_Segura',
            'nome_tela': 'fim',
            'nivel': '1',
            'cenario': 'NA'
        });
    }

    document.getElementById('botaoFim').onclick = botao_fim;
</script> 
{% endblock %}