{% extends "base.html" %}
{% block title %}Aventura Segura - Fim de jogo!{% endblock %}

{% block content %}
<div class="div-dentro">
    <h1 class="titulo texto">Fim de Jogo!</h1>
    <img style="display: block; margin-left: auto; margin-right: auto;" width="150px" src="{{ url_for('static', filename=perfil.imagem) }}" alt="{{ perfil.titulo }}">
    <h1 class="titulo texto">{{ perfil.titulo }}</h1>
    <p class="texto">{{ perfil.descricao }} <br><br> <strong>Sua pontuação final é: {{ pontuacao }}</strong></p>
    <button class="btn btn-primary" style="margin: 10px;" id="compartilha">Compartilhe no Whatsapp com seus amigos!</button>
    <a href="{{ url_for('historia') }}" class="btn btn-primary" style="margin: 10px;">Jogar outros cenários!</a>
</div>

<script nonce="{{ nonce }}">
    document.getElementById('compartilha').addEventListener('click', function() {
        window.open('https://api.whatsapp.com/send?text=Gostaria%20de%20compartilhar%20um%20jogo%20sobre%20seguran%C3%A7a%20na%20internet.%20Acesse%20https://www.aventurasegura.online', '_blank');
        window.location.href = "{{ url_for('obrigado') }}";
    });
</script>
{% endblock %}