<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aventura Segura</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>{{ scenario.historia }}</h2>
        <form method="post">
            <button type="submit" name="option" value="0">{{ scenario.opcao1 }}</button>
            <button type="submit" name="option" value="1">{{ scenario.opcao2 }}</button>
        </form>
        <div class="score-lives">
            <p>Pontuação: {{ score }}</p>
            <p>Vidas: {{ lives }}</p>
        </div>
    </div>
</body>
</html>