{% extends "base.html" %}
{% block title %}Aventura Segura: Seja bem-vindo! Versão B {{ meio }} {% endblock %}
{% block content %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XMG8KFD0CB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XMG8KFD0CB', {
    'page_title' : 'index_b' // ou 'index_b' dependendo da versão
  });
  
</script>
<div class="div-dentro">
    <img style="display: block; margin-left: auto; margin-right: auto;" width="240px" src="static/img/logo.png" alt="Aventura Segura">
    
    <form method="post">
      <input type="image" src="static/img/jogue_agora.gif" alt="JOGUE AGORA!!" class="btn btn-primary" onclick="gtag('event', 'click', {'event_category': 'index', 'event_label': 'versao_b'})" width="100px">
    </form>
</div>
{% endblock %}
