{% extends "base.html" %}

{% block content %}
<div class="area">
    <h1 class="titulo">Bem-vindo à Aventura Segura!</h1>
    
    <form method="post">
        <button type="submit" class="btn btn-primary" id="botaoInicio">Iniciar Jogo</button>
    </form>
</div>

<script nonce="{{ nonce }}">
    gtag('event', 'abrir_tela_inicial', {
      'nome_app': 'Aventura_Segura',
      'nome_tela': 'index',
      'nivel': 'NA',
      'cenario': 'NA'
    });
</script> 

<script nonce="{{ nonce }}">
    function botao_inicio() {
        gtag(
            'event', 'botao_iniciar_jogo', {
            'nome_app': 'Aventura_Segura',
            'nome_tela': 'index',
            'nivel': '1',
            'cenario': 'NA'
        });
    }

    document.getElementById('botaoInicio').onclick = botao_inicio;
</script>
{% endblock %}
