{% extends "base.html" %}
{% block title %}Aventura Segura: Jogo - Cenário {{ cenario_numero }}{% endblock %}
{% block content %}
<div class="area">
    <h1>{{ scenario.personagem }}</h1>
    <img style="display: block; margin-left: auto; margin-right: auto;" width="150px" src="{{ url_for('static', filename=scenario.imagem) }}" alt="{{ scenario.personagem }}">
    <p>{{ scenario.texto }}</p>
    <form method="POST">
        <button type="submit" name="option" value="left" class="btn btn-primary" style="margin: 10px">{{ scenario.texto_escolha_esquerda }}</button>
        <hr>
        <button type="submit" name="option" value="right" class="btn btn-primary">{{ scenario.texto_escolha_direita }}</button>
    </form>
    <div class="score">Pontuação: {{ score }}</div>
</div>
{% endblock %}