{% extends "base.html" %}

{% block content %}
<div class="area">
    <h1>{{ scenario.personagem }}</h1>
    <!--<img src="{{ url_for('static', filename=scenario.imagem) }}" alt="{{ scenario.personagem }}">-->
    <p>{{ scenario.text }}</p>
    <form method="POST">
        <button type="submit" name="option" value="left" class="btn btn-primary" style="margin: 10px">{{ scenario.left_choice_text }}</button>
        <button type="submit" name="option" value="right" class="btn btn-primary">{{ scenario.right_choice_text }}</button>
    </form>
    <p>Pontuação: {{ score }}</p> 
</div>
{% endblock %}